header {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    display: flex;
    height: 60px;
    justify-content: space-between;
    left: 0;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    @include minwidth(992) {
        padding: 0 2rem;
    }
}

.header__branding {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    a {
        color: #000;
        margin: 0;
        text-decoration: none;
    }
}

.header__cta {
    a {
        text-decoration: none;
    }
}

.cta {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 0 8px 8px;

    @include minwidth(992) {
        background-color: #223388;
        box-shadow: 0 0 16px rgba(0,0,0,.2);
        border-radius: 3px;
        padding: 7px 16px;
        transition: background-color .3s ease, box-shadow .3s ease;
    }

    &:hover {
        @include minwidth(992) {
            background-color: #2233AA;
            box-shadow: 0 0 4px rgba(0,0,0,.2);
        }
    }

    svg {
        width: 24px;
        height: 24px;

        @include minwidth(992) {
            width: 20px;
            height: 20px;
        }
    
        path {
            fill: #000;

            @include minwidth(992) {
                fill: #fff;
            }
        }
    }

    span {
        display: none;

        @include minwidth(992) {
            color: #fff;
            display: block;
            font-weight: 700;
            line-height: 1;
            padding: 2px 0 3px 12px;
        }
    }
}